<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AddPropertyInCategory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>AuthorimTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>AutoLayoutDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>AutoreleaseDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DataAndStringTransformDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ForceTouchDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>GCDDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>GradientNavigationBarDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>LeftMenuViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>LocationDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>MJRefreshDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>NSOperationDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>NSSortDescriptorDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>NSURLSessionDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>NSUrlConnectionDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>OCUserCDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>OpenFileUsingOtherAppDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>QRCodeReaderDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>RuntimeTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>SlideMenu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>TestDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>TestForEvery.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>UICollectionViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>VCTransitionDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>WeixinPaymentDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>ZipArchiveDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>304D460C1B1C4DE70039B6BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>304D463D1B1C64190039B6BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>304D46671B1C82B00039B6BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30C013631B1DB08300C2B94B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30CB3BC21B19AD9A000EFE01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B1587C41BE75AE600FF33EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B1587DC1BE75AE600FF33EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B1587E71BE75AE600FF33EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B442FF51BAF081D0091C348</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B44300D1BAF081D0091C348</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B53E0451BC8AA1200DBDE28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B53E05D1BC8AA1200DBDE28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B53E0681BC8AA1300DBDE28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B5DDB7E1DAE1CED00194EA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B5F14ED1B53A459005874BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B5F15051B53A459005874BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B6714151B8D6A2200FE9C73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B67142D1B8D6A2200FE9C73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B6ADF6E1B4EB493004CA309</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B6ADF861B4EB494004CA309</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B7A91B01BE0ACB40031D153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B7A91C81BE0ACB40031D153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B7A91D31BE0ACB40031D153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B7A91F51BE0C8580031D153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B7A920D1BE0C8590031D153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B7A92181BE0C85A0031D153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B7A92BA1BE209540031D153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B7A92D21BE209540031D153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B7A92DD1BE209540031D153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B7ACF521B47A12400E356AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B7ACF6A1B47A12400E356AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B7ACF821B4A521600E356AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B7ACF9A1B4A521700E356AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BA7998D1BA2AE0400C77437</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BA799A51BA2AE0500C77437</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BA7C9621B6870FE00783C59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BA7C97A1B6870FE00783C59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BB6CED91C085E43004F6640</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BEB52D01BFF05BB001E068E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BEB52E81BFF05BB001E068E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BEB52F31BFF05BB001E068E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BEB55F71BE3649A00882BF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BEB560F1BE3649A00882BF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BEB561A1BE3649A00882BF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BEBA2C71B7C95CA008630D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BEBA2DF1B7C95CA008630D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BEBA8B41B84D5EA008630D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BEBA8CC1B84D5EA008630D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BEE12C01C00537D0024BCB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BEE12DB1C02F9C70024BCB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
