<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AutoreleaseDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DataAndStringTransformDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>OCUserCDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SlideMenu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>TestForEvery.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>304D460C1B1C4DE70039B6BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>304D46241B1C4DE80039B6BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>304D463D1B1C64190039B6BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>304D46551B1C64190039B6BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>304D46671B1C82B00039B6BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>304D467F1B1C82B00039B6BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30C013631B1DB08300C2B94B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30C0137B1B1DB08400C2B94B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30CB3BC21B19AD9A000EFE01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30CB3BDB1B19AD9A000EFE01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
